
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.carrot-icon {
    color:darkorange;
    font-size: 50px;

}
body{
    background-color: #f8f6f5;

}
.header-container {

    background-image: url('../images/Hero-bg.png');
    height: 698px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-left: 150px;
    margin-right: 150px;
}
.header-banner {
   display: flex;
   height: 650px;
   justify-content: center;
   align-items: center;
 
}
.header-banner-container {
   width: 905px;
}
.header-logo {
    font-size: 45px;
    color:darkorange ;


}
.header-logo span {
    color: gray;
    font-size: 20px;
}

.primary-button {
    
    font-size: 16;
    font-weight: bold;
    background-color: darkorange;
    color: #FFFFFF ;
    border-radius: 10px;
    border:none;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 12px;
    padding-bottom: 12px;

}
.header-banner-text {
  text-align: center;
}
.explore-button {
    display: block;
    margin: auto;
}

.discount-section-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 116px;
    height: 328px;
    width: 1140px;
}
.discount-title {
    font-size: 42px;
}
.discount-description {
    color:#252432;
    font-size: 24px;
    opacity: 50%;
}
.discount-section-container img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.order-user-info-container {
    display: flex;
    background-color: rgba(250, 209, 113, 0.312);
    border-radius: 24px;
    height: 306px;
    width: 1140px;
    margin:auto;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);;
}
.order-user-info-contents {
    width: 1140px;  
}
.order-user-info-contents h1 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-top: 0px;
}
.order-user-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.order-user-info p {
    font-size: 80px;
    margin: 0px 0px;
}
.order-user-info span {
    font-size: 20px;
    opacity: 50%;
}
.user-review-container {
 
    display: flex;
    width:1140px;
    height:342px;
    margin: auto;
    justify-content: center;
    margin-top: 130px;
}
.user-review-contents h1 {
   text-align: center;
}
.user-review-cards {
    display: flex;
    width:1140px;
    justify-content: space-around;
}
.user-review-single-card
{
    width: 366.67px;
    height: 243px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    
}
.reviewer-img {
    width: 50px;
    border-radius: 50%;
}
.review-star
{
    color:#FFB805;
    margin-top: 20px;
    margin-left:50px;

}
.user-review-single-card h3 {
    margin-left: 50px;
}
.review-comment {
    margin-left: 50px;
    margin-bottom: 0px;
}
.user-review-single-card img {
    margin-left: 50px;
}
.review-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.review-info-text {
    margin-left:12px;
}
.reviewer-name {
    margin-bottom:1px;
    opacity: 50%;
}
.review-date {
    margin-top:1px;
    opacity: 50%;
}
.career-section-container {
    background-color: white;
    border-radius: 14px;
    width: 1140px;
    height: 696.77px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.career-section-contents {
    
      text-align: center;
}
.career-section-contents h1{
      font-size:50px;
}
.career-section-contents img{
    width:840px;
    height:400px;
    margin-top: 10px;
    border-radius: 48px;
}
.message-us-container {

    
    width: 1140px;
    height: 632px;
    margin:auto;
    display: flex;
   
}
.message-us-contents {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    padding-right: 20px;
    padding-left: 20px;
    
    
}
.message-us-contents h1{
    font-size: 95px;
    text-align: left;
}
.message-us-contents input {
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: none;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.textarea-msg {
    width: 497px;
    border-radius: 10px;
    border: none;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 135px;
}
.message-us-contents input::placeholder {
    padding-left: 10px;
    font-size: 20px;
}
.message-us-contents textarea::placeholder {
    padding-left: 10px;
    font-size: 20px;
}


.footer-container {
    width: 100%;
    height: 428px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-contents {
    text-align: center;
}
.footer-contents h3 {
    font-size: 100px;
    margin-bottom: 0px;
   
}
.footer-contents h3 i {
    font-size: 100px;
   
}
.footer-contents h3 span{
    font-size: 50px;
   
}

.footer-contents p {
    margin-top:0px;
    opacity: 50%;
}
.footer-contents nav ul {

    list-style-type: none;
    padding: 10px;
}
.footer-contents nav ul li {
    display: inline;
    margin-right: 20px;
}